/***** Home Page *****************************************/
.homebg{
  width: 100%;
  height: 100%;
  background: url("../img/dembg.jpg");
  background-position: center;
  background-size: cover;
  padding: 18px;
}
/* 15 min logo */
.logo{
  max-width: 100%;
  max-height: 50%;
  margin-top: 10px;
  margin-bottom: 40px; 
}
.platform-android .logo{
  margin-top: 40px !important;
}
/* Open text */
.open-text{
  background: rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; 
  color: #f8f8f8;
  line-height: 25px;
  margin-bottom: 20px;
}
.open-text p{
  padding: 15px;
  font-size: 22px;
  text-align: right;
}
.green-line{
  background: #C2DA4E;
  float: left;
  width: 33%;
  height: 5px;
}
.white-line{
  background: #fff;
  float: left;
  width: 34%;
  height: 5px;
}
.blue-line{
  background: #0A77BB;
  float: left;
  width: 33%;
  height: 5px;
}
.clear-fix{
  clear: both;
}
/* report button */
.fixed {
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 10%;
  font-size: 22px;
  border: 2px solid #fff;
}
.platform-android .fixed {
  bottom: 2%;
}
/* content */
.full-content{
  min-height: 100% !important;
  top:0 !important;
  bottom:0 !important;
}
/* transparent tabs */
.hide-tabs > .tabs{
  background-color: rgba(0, 0, 0, 0) !important;
  border-top: 1px solid #C2DA4E !important;
}
.text-about{
	text-align: center;
}

/***** Report Page ***************************************/
.report-text{
  text-align: right;
  color: #444;
  font-size: .9em;
}
.imgcont{
  position: relative;
}
.imgcol{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  background: #ef473a;
  text-align: center;
  line-height: 25px;
  border-radius: 30px;
  border: 1px solid #ef473a;
  color: #fff;
  font-size: 12px;
}
.error p{
  transition: all linear 0.5s;
  height: 30px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #ef473a;
  text-align: right;
  padding: 5px;
  padding-right: 15px;
  color: #fff;
  border-radius: 3px; 
}
.error .ng-hide {
  background-color: transparent;
  left: -300px;
}
.req-red{
  color: red;
}

/****** Info Page ****************************************/
p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}
.text-about{
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.item-center{
  text-align: center;
  font-size: 16px;
}
.icon-btn{
  text-align: center;
  font-size: 4em;
}
.icon-green{
  color: #6DAB3C;
}
.icon-yellow{
  color: #F7BE68;
}
.icon-red{
  color: #FE6C61;
}
.text{
  color: #fff;
  padding: 2px;
  border-radius: 2px;
}
.text-black{
  background: #252525;
}
.text-green-bus{
  background: #C2DA4E;
}
.text-blue{
  background: #3B5998;
}
.text-green-like{
  background: #6DAB3C;
}
.text-yellow{
  background: #F7BE68;
}
.text-red{
  background: #FE6C61;
}

/***** success page **************************************/
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 60px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
.slide-image{
  display: block;
  padding: 20px; 
}
.slide-image img{
  border-radius: 3px;
}

/***** More Page *****************************************/
.title-more{
  background: #C2DA4E;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #7d8f24;
}
.15min{
  display:block;
  margin-right: 4%;
}

/***** Misc **********************************************/
.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #fff;
  fill: #fff;
}
.delete-text{
  color: transparent;
}

/***** icon *****/
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?o07r34');
    src:    url('../fonts/icomoon.eot?o07r34#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?o07r34') format('truetype'),
        url('../fonts/icomoon.woff?o07r34') format('woff'),
        url('../fonts/icomoon.svg?o07r34#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-Bus:before {
    content: "\e900";
    color: #C2DA4E;
}
.icon-Document:before {
    content: "\e901";
    color: #252525;
}
.icon-facebook:before {
    content: "\e902";
    color: #3B5998
}
.icon-min-bus:before {
    content: "\e917";
}
.icon-min-bus-outline:before {
    content: "\e918";
}









