/***** Home Page *****/
.homebg{
  width: 100%;
  height: 100%;
  background: url("../img/dembg.jpg");
  background-position: center;
  background-size: cover;
  padding: 18px;
}
/* 15 min logo */
.logo{
  max-width: 100%;
  max-height: 50%;
  margin-top: 10px;
  margin-bottom: 40px; 
}
.platform-android .logo{
  margin-top: 40px !important;
}
/* Open text */
.open-text{
  background: rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; 
  color: #f8f8f8;
  line-height: 25px;
  margin-bottom: 20px;
}
.open-text p{
  padding: 15px;
  font-size: 22px;
  text-align: right;
}
.green-line{
  background: #C2DA4E;
  float: left;
  width: 33%;
  height: 5px;
}
.white-line{
  background: #fff;
  float: left;
  width: 34%;
  height: 5px;
}
.blue-line{
  background: #0A77BB;
  float: left;
  width: 33%;
  height: 5px;
}
.clear-fix{
  clear: both;
}
/* report button */
.fixed {
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 10%;
  font-size: 22px;
  border: 2px solid #fff;
}
.platform-android .fixed {
  bottom: 2%;
}
/* content */
.full-content{
  min-height: 100% !important;
  top:0 !important;
  bottom:0 !important;
}
/* transparent tabs */
.hide-tabs > .tabs{
  background-color: rgba(0, 0, 0, 0) !important;
  border-top: 1px solid #C2DA4E !important;
}
.text-about{
	text-align: center;
}

/***** Report Page *****/
.report-text{
  text-align: right;
  color: #444;
  font-weight: bold;
}

/***** Info Page *****/
/* swipe images */
.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}
.item.item-positive{
  text-align: center; 
}
p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}
/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
} 
/* End swipe images */
.links{
  text-align: center;
}
.text-about{
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.icon-set{
  font-size: 4em;
  margin-right: 10px;
  margin-left: 10px;
}

/***** More Page *****/
.title-more{
  background: #C2DA4E;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #7d8f24;
}
.15min{
  display:block;
  margin-right: 4%;
}

/***** Misc *****/
.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #fff;
  fill: #fff;
}
.delete-text{
  color: transparent;
}

/***** icon *****/
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?o07r34');
    src:    url('../fonts/icomoon.eot?o07r34#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?o07r34') format('truetype'),
        url('../fonts/icomoon.woff?o07r34') format('woff'),
        url('../fonts/icomoon.svg?o07r34#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-Bus:before {
    content: "\e900";
    color: #C2DA4E;
}
.icon-Document:before {
    content: "\e901";
    color: #252525;
}
.icon-facebook:before {
    content: "\e902";
}
.icon-min-bus:before {
    content: "\e917";
}
.icon-min-bus-outline:before {
    content: "\e918";
}





