/* Empty. Add your own CSS if you like */
.homebg{
  width: 100%;
  height: 100%;
  background: url("../img/busbg.jpg");
  background-position: center;
  background-size: cover;
  padding: 30px;
}
.more {
	text-align: right;
	
}
.homebg h2{
  color: #fff;
  text-align: center;
}

.homebg p{
  color: #fff;
  text-align: center;
}

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #eee;
  fill: #eee;
}

/* Button */
.button-rounded{
  margin-right: 10px;
  margin-left: 0px;
}

/***** Home Page *****/
.logo{
  width: 100%;
}

.fixed {
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 10%;
  font-size: 22px;
  border: 2px solid #fff;
}

/***** Report Page *****/
.right{
  right: 0px !important;
}
.right-text{
  float: right !important;
  right: 10px !important;
  display: block !important; 
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.right-text::after{
  clear: both;
}



/**************************** swipe images ***********************/
.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}
.item.item-positive{
    
    text-align: center; 
}

p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
} 