<ion-view view-title="הצלחות" class="slide-left-right">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-close-empty"
            ng-click="startApp()" ng-show="!slideIndex">
    </button>
    <button class="button button-icon ion-ios-arrow-thin-left"
            ng-click="previous()" ng-show="slideIndex > 0">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right"> 
    <button class="button button-icon ion-ios-arrow-thin-right"
            ng-click="next()" ng-show="slideIndex != 2">
    </button>
    <button class="button button-icon icon ion-ios-close-empty"
            ng-click="startApp()" ng-show="slideIndex == 2">
    </button>
  </ion-nav-buttons>
  <ion-slide-box on-slide-changed="slideChanged(index)">

    <!-- image 1 -->
    <ion-slide>  
      <a class="slide-image" 
        onclick="window.open('http://www.15minutes.co.il/%D7%94%D7%A6%D7%9C%D7%97%D7%95%D7%AA-%D7%91%D7%9E%D7%99%D7%A9%D7%95%D7%A8-%D7%94%D7%9E%D7%A7%D7%95%D7%9E%D7%99/'); return false;">
        <div class="item item-image">
          <img src="./img/suc4.png">
        </div>
      </a>
    </ion-slide>

    <!-- image 2 -->
    <ion-slide>  
      <a class="slide-image" 
        onclick="window.open('http://www.15minutes.co.il/%D7%A2%D7%9C%D7%99%D7%99%D7%94-%D7%9E%D7%94%D7%99%D7%A8%D7%94-%D7%9E%D7%9B%D7%9C-%D7%94%D7%93%D7%9C%D7%AA%D7%95%D7%AA-%D7%91%D7%AA%D7%97%D7%91%D7%95%D7%A8%D7%94-%D7%94%D7%A6%D7%99%D7%91%D7%95%D7%A8/'); return false;">
        <div class="item item-image">
          <img src="./img/suc5.png">
        </div>
      </a>
    </ion-slide>
    
    <!-- image 3 -->
    <ion-slide>
      <a class="slide-image" 
        onclick="window.open('http://www.15minutes.co.il/%D7%90%D7%9B%D7%99%D7%A4%D7%AA-%D7%A0%D7%A1%D7%99%D7%A2%D7%94-%D7%91%D7%A0%D7%AA%D7%99%D7%91%D7%99-%D7%AA%D7%97%D7%91%D7%95%D7%A8%D7%94-%D7%A6%D7%99%D7%91%D7%95%D7%A8%D7%99%D7%AA/'); return false;">
        <div class="item item-image">
          <img src="./img/suc6.png">
        </div>
      </a>
    </ion-slide>

  </ion-slide-box>
</ion-view>