<ion-view hide-nav-bar="true">
  <ion-content scroll="false" class="full-content">
    <div class="homebg">
			<!-- Logo -->
      <img class="logo" ng-src="../img/15min.png">

			<!-- 15 min open text -->
			<p class="open-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet excepturi adipisci magnam repellat fugit optio fugiat, iste inventore dicta tempore quas animi tempora sequi officiis veniam aliquam nihil minima saepe.
		  </p>

			<!-- button -->
      <a href="#/tab/report" class="fixed button button-outline button-block button-stable">
          לטופס תלונה לחץ כן
      </a>
    </div>
  </ion-content>
</ion-view>

