<ion-view view-title="עוד">
  <ion-content class="padding">	
	<div class="bar bar-header bar-balanced">
	  <h1 class="title">למה חשוב להתלונן?</h1>
	</div>
	<div class="more">
		<br>		<br>
		<br>

	<p>
	<h5>
	חשוב להתלונן כי אם לא מתלוננים זה אומר שאנחנו מקבלים את המצב כמו שהוא.
חשוב להתלונן כדי שמפעילי התחבורה הציבורית ומשרד התחבורה יבינו שזה חשוב לנו ושאנחנו לא מתכוונים לשתוק עד שהמצב ישתנה.
חשוב להתלונן כי ככה מנגנון השינוי עובד במקומות האלה- אם לא מקבלים מספיק תלונות בנושא מסוים – שום דבר לא יזוז!
	</p>
			<br>
		<br>
</h5>
	</div>
  </ion-content>
</ion-view>
