<ion-view view-title="מידע שימוש" >
  <ion-content class="has-header">
          <div class="card">
              <div class="item item-positive">
                הצלחתנו היא הצלחתכם ..
              </div>
              <div class="item item-text-wrap">
                  <div class="button-bar">
                      <a class="button button-block button-balanced" ng-click="openModal()">
                         להצלחות לחץ כאן</a>
                  </div>
              </div>
			
			  
	
			  
			  
			  
			  
               </div>
			<div class=>
			<h4 class="text-about">
			  חמש עשרה דקות הוא ארגון צרכני תחבורה ציבורית .
			  הארגון פועל לקיצור זמני הנסיעה בתחבורה הציבורית ולשיפור והוספת שירות בתחבורה הציבורית, כך שהיא תהווה חלופה ראויה לשימוש ברכב הפרטי.
הארגון פועל באמצעות מאבקים ציבוריים ותקשורתיים, בעזרת מתנדבים ואנשי מקצוע.
			 
			</h4>
		</div>
			   
			   <div class="links">
				 <a href="https://www.facebook.com/15dakot/?fref=ts">
	        	<img class="people-bar-content-person" ng-src="../img/bbb.png" />
				</a>
				 <a href="https://www.facebook.com/15dakot/?fref=ts">
	        	<img class="people-bar-content-person" ng-src="../img/ccc.png" />
				</a>
				<a href="https://www.facebook.com/15dakot/?fref=ts">
	        	<img class="people-bar-content-person" ng-src="../img/ddd.png" />
				</a>
				<a href="https://www.facebook.com/15dakot/?fref=ts">
	        	<img class="people-bar-content-person" ng-src="../img/eee.png" />
				</a>
			   </div>
			   <img class="15min" ng-src="../img/15min-v2.png" />

			   
        <!--      <div class="item item-text-wrap">
                  <div class="button-bar">
                      <a class="button" ng-click="goToSlide(1)">
                          רב קו בכל הכיוונים </a>
                     
                  </div>
                  <div class="button-bar">
                      <a class="button" ng-click="goToSlide(2)"> הצלחה אחרת דד</a>                     
                  </div>
                  <div class="button-bar">
                      <a class="button" ng-click="goToSlide(2)"> הצלחה אחרת דד</a>                     
                  </div>
                  <div class="button-bar">
                      <a class="button" ng-click="goToSlide(2)"> הצלחה אחרת דד</a>                     
                  </div>
                  <div class="button-bar">
                      <a class="button" ng-click="goToSlide(2)"> הצלחה אחרת דד</a>                     
                  </div>
                  <div class="button-bar">
                      <a class="button" ng-click="goToSlide(2)"> הצלחה אחרת דד</a>                     
                  </div>
                  
                  
              </div>-->
          </div>

          <script id="image-modal.html" type="text/ng-template">
              <div class="modal image-modal transparent" 
                   ng-click="closeModal()">
                <ion-slide-box on-slide-changed="slideChanged(index)" 
                               show-pager="false">
                  <ion-slide ng-repeat="oImage in aImages">
                    <img ng-src="{{oImage.src}}" class="fullscreen-image" />
                    <p class="info">{{oImage.msg}}</p>
                  </ion-slide>
                </ion-slide-box>
              </div>
          </script>
        
      	</ion-content>
</ion-view>
