<ion-view hide-nav-bar="true">
  <ion-content scroll="false" class="full-content">
    <div class="homebg">
			<!-- Logo -->
      <img class="logo" ng-src="../img/15min.png">

			<!-- 15 min open text -->
      <div class="open-text">
        <div class="green-line"></div>
        <div class="white-line"></div>
        <div class="blue-line"></div>
        <div class="clear-fix"></div>
  			<p>
        מוקד 15 דקות - עוזרים לך לשפר את התחבורה הציבורית!<span class="delete-text">א</span>
        <br/>
        מתלוננים, פועלים ומשפיעים!<span class="delete-text">א</span>
  		  </p>  
      </div>

			<!-- button -->
      <a href="#/tab/report" class="fixed button button-outline button-block button-stable">
          לטופס תלונה לחץ כן
      </a>
    </div>
  </ion-content>
</ion-view>

