<ion-view view-title="עוד">
  <ion-content>

		<!-- title -->
		<h3 class="title-more">? למה חשוב להתלונן</h3>

		<!-- padding -->
		<div class="padding">

			<!-- More text -->
			<div class="text-right">
				<h4>
				חשוב להתלונן כי אם לא מתלוננים זה אומר שאנחנו מקבלים את המצב כמו שהוא.
			חשוב להתלונן כדי שמפעילי התחבורה הציבורית ומשרד התחבורה יבינו שזה חשוב לנו ושאנחנו לא מתכוונים לשתוק עד שהמצב ישתנה.
			חשוב להתלונן כי ככה מנגנון השינוי עובד במקומות האלה- אם לא מקבלים מספיק תלונות בנושא מסוים – שום דבר לא יזוז!
				</h4>
				<h5>קישורים לפניות הציבור של מפעילי התחבורה הציבורית</h5>
			</div>

	
			
			<!-- Button groub -->
			<div class="button-bar">
				  <a class="button button-positive" href="#" onclick="window.open('http://www.egged.co.il/%D7%98%D7%95%D7%A4%D7%A1-%D7%AA%D7%9C%D7%95%D7%A0%D7%95%D7%AA.aspx', '_system', 'location=yes'); return false;">אגד</a>
				  <a class="button button-balanced" href="#" onclick="window.open('http://www.dan.co.il/contactus/', '_system', 'location=yes'); return false;">דן</a>
				  <a class="button button-positive"  href="#" onclick="window.open('http://www.kavim-t.co.il/contact_us/appealContact.asp', '_system', 'location=yes'); return false;">קווים</a>
			</div>
			<div class="button-bar">
				  <a class="button button-balanced"href="#" onclick="window.open('http://forms.sherut.net/view.php?id=118711', '_system', 'location=yes'); return false;">ר"כ ישראל</a>
				  <a class="button button-positive" href="#"onclick="window.open('http://www.ntt-buses.com/ContactUs.aspx', '_system', 'location=yes'); return false;">נזרין טורס</a>
				  <a class="button button-balanced"href="#"onclick="window.open('http://www.kavim-t.co.il/contact_us/appealContact.asp', '_system', 'location=yes'); return false;">עילית טורס</a>
			</div>
			<div class="button-bar">
				  <a class="button button-positive"href="#"onclick="window.open('http://www.gb-tours.com/contact.php', '_system', 'location=yes'); return false;">גי פי טי</a>
				  <a class="button button-balanced"href="#"onclick="window.open('https://www.citypass.co.il/ContentPage.aspx?ID=54', '_system', 'location=yes'); return false;">סיטיפס</a>
				  <a class="button button-positive"href="#"onclick="window.open('http://www.afikim-t.co.il/?page_id=193', '_system', 'location=yes'); return false;">אפיקים</a>
			</div>
			<div class="button-bar">
				  <a class="button button-balanced"href="#"onclick="window.open('http://www.dannorth.co.il/?page_id=81', '_system', 'location=yes'); return false;">דן בצפון</a>
				  <a class="button button-positive"href="#"onclick="window.open('http://www.nazareth-unbs.com/ContactUs.aspx', '_system', 'location=yes'); return false;">UNBS</a>
				  <a class="button button-balanced"href="#"onclick="window.open('http://www.galeem.co.il/?mod=contact', '_system', 'location=yes'); return false;">גלים</a>
			</div>
			<div class="button-bar">
				  <a class="button button-positive"href="#"onclick="window.open('http://www.superbus.co.il/inner.asp?page=%D7%A6%D7%95%D7%A8%20%D7%A7%D7%A9%D7%A8', '_system', 'location=yes'); return false;">סופרבוס</a>
				  <a class="button button-balanced"href="#"onclick="window.open('http://danbadarom.co.il/contactus/', '_system', 'location=yes'); return false;">דן בדרום</a>
				  <a class="button button-positive"href="#"onclick="window.open('http://www.metrodan.com/he/metrodan/contact', '_system', 'location=yes'); return false;">מטרודן</a>
			</div>
			<div class="button-bar">
				  <a class="button button-balanced"href="#"onclick="window.open('http://www.golanbus.co.il/callus.php?PHPSESSID=0d854536190e57b2bce0fbda4ec5c134', '_system', 'location=yes'); return false;">רמת-תחב"צ גולן</a>
				  <a class="button button-positive"href="#"onclick="window.open('http://www.metropoline.com/he/sharon/contact', '_system', 'location=yes'); return false;">מטרופולין</a>
				  <a class="button button-balanced"href="#"onclick="window.open('http://www.egged-taavura.co.il/%D7%A4%D7%A0%D7%99%D7%95%D7%AA-%D7%94%D7%A6%D7%99%D7%91%D7%95%D7%A8/', '_system', 'location=yes'); return false;">אגד תעבורה</a>
			</div>

		</div><!-- End padding -->
  </ion-content>
</ion-view>
