<ion-view view-title="עוד" >
  <ion-content class="has-header">

    <!-- info's -->
    <div class="row">

      <div class="col">
        <button ng-click="toSuccess()" class="button button-block button-positive">
          הצלחות
          <i class="icon ion-android-checkmark-circle"></i>
        </button>
      </div>

    </div>
		
    <!-- Links -->
    <div class="card">
      <div class="row">
        
        <!-- facebook -->
        <div class="col">
          <div class="icon-btn">
            <a onclick="window.open('https://www.facebook.com/15dakot', '_system', 'location=yes'); return false;">
              <i class="icon icon-facebook"></i>
            </a>
            <h6 class="text text-blue">facebook</h6>
          </div>
        </div>
      
        <!-- 15 min site -->
        <div class="col">
          <div class="icon-btn">
            <a onclick="window.open('http://www.15minutes.co.il', '_system', 'location=yes'); return false;">
              <i class="icon icon-Bus"></i>
              <h6 class="text text-green-bus"><span class="delete-text">א</span>15 דקות</h6>
            </a>
          </div>
        </div>
        
        <!-- small report -->
        <div class="col">
          <div class="icon-btn">
            <a onclick="window.open('http://www.15minutes.co.il/%D7%98%D7%95%D7%A4%D7%A1-%D7%AA%D7%9C%D7%95%D7%A0%D7%94/', '_system', 'location=yes'); return false;">
              <i class="icon icon-Document"></i>
            </a>
            <h6 class="text text-black">תביעה קטנה</h6>
          </div>
        </div>

      </div>
    </div>

    <!-- help -->
    <div class="card">
      <div class="item item-light item-center title">רוצה לעזור</div>
      <div class="row">
        
        <!-- donation -->
        <div class="col">
          <div class="icon-btn">
            <a onclick="window.open('http://www.15minutes.co.il/%d7%a6%d7%95%d7%a8-%d7%a7%d7%a9%d7%a8/', '_system', 'location=yes'); return false;">
              <i class="icon ion-thumbsup icon-green"></i>
            </a>
            <h6 class="text text-green-like">רוצה להתנדב</h6>
          </div>
        </div>
      
        <!-- change -->
        <div class="col">
          <div class="icon-btn">
            <a onclick="window.open('http://www.15minutes.co.il/%d7%a6%d7%95%d7%a8-%d7%a7%d7%a9%d7%a8/', '_system', 'location=yes'); return false;">
              <i class="icon ion-chatbubbles icon-yellow"></i>
              <h6 class="text text-yellow">רוצה להשפיע</h6>
            </a>
          </div>
        </div>
        
        <!-- giving -->
        <div class="col">
          <div class="icon-btn">
            <a onclick="window.open('http://www.15minutes.co.il/%d7%a8%d7%95%d7%a6%d7%94-%d7%9c%d7%aa%d7%a8%d7%95%d7%9d/', '_system', 'location=yes'); return false;">
              <i class="icon ion-heart icon-red"></i>
            </a>
            <h6 class="text text-red">רוצה לתרום</h6>
          </div>
        </div>

      </div>
    </div>

    <!-- About us -->
    <div class="card">
      <div class="item item-light item-center title">קצת עלינו</div>
      <div class="item item-text-wrap">
        <p class="text-about">
          <span class="delete-text">א</span>15 דקות הוא ארגון צרכני תחבורה ציבורית. הארגון פועל לקיצור זמני הנסיעה בתחבורה הציבורית ולשיפור והוספת שירות בתחבורה הציבורית, כך שהיא תהווה חלופה ראויה לשימוש ברכב הפרטי.
          הארגון פועל באמצעות מאבקים ציבוריים ותקשורתיים, בעזרת מתנדבים ואנשי מקצוע.
        </p>
      </div>
    </div>
        
	</ion-content>
</ion-view>
