<ion-view view-title="מידע שימוש" >
  <ion-content class="has-header">

    <!-- Success's -->
    <div class="card">
      <div class="item item-positive">הצלחתנו היא הצלחתכם</div>
      <div class="item item-text-wrap">
        <div class="button-bar">
            <a class="button button-block button-balanced" ng-click="openModal()">
                 להצלחות לחץ כאן</a>
        </div>
      </div>
    </div>
		
    <!-- About us -->
		<div class="card">
			<div class="item item-positive">קצת עלינו</div>
			<div class="item item-text-wrap">
  			<p class="text-about">
  			  <span class="delete-text">א</span>15 דקות הוא ארגון צרכני תחבורה ציבורית. הארגון פועל לקיצור זמני הנסיעה בתחבורה הציבורית ולשיפור והוספת שירות בתחבורה הציבורית, כך שהיא תהווה חלופה ראויה לשימוש ברכב הפרטי.
          הארגון פועל באמצעות מאבקים ציבוריים ותקשורתיים, בעזרת מתנדבים ואנשי מקצוע.
  			</p>
			</div>
		</div>

    <!-- Links -->
		<div class="card">
		  <div class="item item-positive">קישורים</div>
      <div class="item item-text-wrap links">
			  <a class="icon-set" onclick="window.open('http://www.15minutes.co.il', '_system', 'location=yes'); return false;">
        	<i class="icon icon-Bus"></i>
			  </a>
			  <a class="icon-set" onclick="window.open('http://www.15minutes.co.il/%D7%98%D7%95%D7%A4%D7%A1-%D7%AA%D7%9C%D7%95%D7%A0%D7%94/%D7%A4%D7%95%D7%A8%D7%9E%D7%98%D7%99%D7%9D-%D7%A9%D7%9C-%D7%9B%D7%AA%D7%91%D7%99-%D7%AA%D7%91%D7%99%D7%A2%D7%94-%D7%9C%D7%94%D7%95%D7%A8%D7%93%D7%94/', '_system', 'location=yes'); return false;">
        	<i class="icon icon-Document"></i>
			  </a>
			  <a class="icon-set" onclick="window.open('https://www.facebook.com/15dakot', '_system', 'location=yes'); return false;">
        	<i class="icon icon-facebook"></i>
			  </a>
		  </div>
		</div>
<!-- 			   <img class="15min" ng-src="../img/15min-v2.png" /> -->

			   
        <!--      <div class="item item-text-wrap">
                  <div class="button-bar">
                      <a class="button" ng-click="goToSlide(1)">
                          רב קו בכל הכיוונים </a>
                     
                  </div>
                  <div class="button-bar">
                      <a class="button" ng-click="goToSlide(2)"> הצלחה אחרת דד</a>                     
                  </div>
                  <div class="button-bar">
                      <a class="button" ng-click="goToSlide(2)"> הצלחה אחרת דד</a>                     
                  </div>
                  <div class="button-bar">
                      <a class="button" ng-click="goToSlide(2)"> הצלחה אחרת דד</a>                     
                  </div>
                  <div class="button-bar">
                      <a class="button" ng-click="goToSlide(2)"> הצלחה אחרת דד</a>                     
                  </div>
                  <div class="button-bar">
                      <a class="button" ng-click="goToSlide(2)"> הצלחה אחרת דד</a>                     
                  </div>
                  
                  
              </div>-->
          </div>

          <script id="image-modal.html" type="text/ng-template">
              <div class="modal image-modal transparent" 
                   ng-click="closeModal()">
                <ion-slide-box on-slide-changed="slideChanged(index)" 
                               show-pager="false">
                  <ion-slide ng-repeat="oImage in aImages">
                    <img ng-src="{{oImage.src}}" class="fullscreen-image" />
                    <p class="info">{{oImage.msg}}</p>
                  </ion-slide>
                </ion-slide-box>
              </div>
          </script>
        
      	</ion-content>
</ion-view>
