<ion-tabs hide-tabs class="tabs-positive tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab title="בית" icon-off="icon-min-bus-outline" icon-on="icon-min-bus" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="טופס תלונה" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/report">
    <ion-nav-view name="tab-report"></ion-nav-view>
  </ion-tab>

  <!-- info Tab -->
  <ion-tab title="מידע שימושי" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>

  <!-- More Tab -->
  <ion-tab title="עוד" icon-off="ion-android-add" icon-on="ion-android-add-circle" href="#/tab/more">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>

</ion-tabs>
